<!--Header Toolbar-->
<div class="header-toolbar tool-head" style="width: 100%; z-index: 1022;">
    <div class="container">
        <div class="pull-left cont-info-title">
            欢迎来到<%=websiteName%>！
        </div>
        <div class="cont-info">
            <% if (typeof(data._userInfo) === "undefined"){ %>
            <div class="login-reg-wrapper">
                <a id="login_link" href="/login?nextTo=<%= data.nextTo%>">登录</a>
                &nbsp;&nbsp;&nbsp;<a id="redirect_register" href="/page/register">免费注册</a>
            </div>
            <% } else { %>
            <% var username = data._userInfo.clientName? data._userInfo.clientName:data._userInfo.operatorName %>
            <div class="logined-user-wrapper">
                <a href="/customer" title="<%= username %>" class="user-name">
                </a>
                <a  href="/logout" class="logout"><strong>退出登录</strong></a>
            </div>
            <% } %>
        </div>
    </div>
</div>