<!--Copyright-->

<footer class="footer" style="bottom:0;left:0;">
    <div class="copyright copyright-bottom">
        <div class="container">
            <p>
                <a>个人站点</a>|
                <a>个人简介</a>|
                <a>订阅号</a>|
                <a></a>|
                <a>备案号：xxxxxx</a>
                <br/>
                Copyright @ 2017 版权所有
            </p>
        </div>
    </div>
</footer>