<!doctype html>
<!--Conditionals for IE8-9 Support-->
<!--[if IE]>
<html lang="zh" class="ie"><![endif]-->
<html>
<head>
    <meta charset="utf-8">
</head>

<!--Body-->
<body>
<link rel="stylesheet" href="/static/masterslider/skins/light-6/style.css"/>
<style>
    html{
        height:100% !important;
    }
</style>
<div style="position:relative;width:100%;height: 100%" class="homepage">
   <h1>欢迎来到<%= data.user%>的主页</h1>
</div>
<!--Javascript (jQuery) Libraries and Plugins-->
</body><!--Body Close-->
</html>