  <div id="footer">
	  <a href="/"><%= footer.back%></a> | <a href=""><%= footer.Related%></a> | <a href=""><%= footer.Dashboard%></a>| <%= footer.designer%>
  </div><!--close footer-->  
  
</body>
</html>
