  <div id="footer">
	  <a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action">蜀ICP备17023608号 | <a href=""><%= footer.Related%></a> | <a href=""><%= footer.Dashboard%></a>| <%= footer.designer%>
  </div><!--close footer-->
  <!--<embed src="/music/Unravel.mp3" width="100%" height="50" loop="false" autostart="false">-->
  <!--</embed>-->
  </body>
  </html>
