  <div id="footer">
	  <a href="/"><%= footer.back%></a> | <a href=""><%= footer.Related%></a> | <a href=""><%= footer.Dashboard%></a>| <%= footer.designer%>
  </div><!--close footer-->
  <!--<embed src="/music/Unravel.mp3" width="100%" height="50" loop="false" autostart="false">-->
  <!--</embed>-->
  </body>
  </html>
