
<div style="width: 100%">
    <div class="sm-nav-head">
        <div class="container">
            <div class="sm-nav-head-logo">
                <a href="/"><img src="/static/img/head_logo.png" /></a>
            </div>
        </div>
    </div>
    <div class="sm-nav-bottom">
        <div class="container">
            <div class="sm-nav-bottom-top-next">
                <ul data="<%= activetemp %>">
                    <li>
                        <a href="/" >网站首页</a>
                    </li>
                    <li>
                        <a href="/interest" >兴趣中心</a>
                    </li>
                    <li>
                        <a href="/activity" >活动中心</a>
                    </li>
                    <li>
                        <a href="/newsList">新闻资讯</a>
                    </li>
                    <li>
                    <a href="/aboutUs">联系我们</a>
                    </li>
                </ul>
            </div>
            <div class="nav-phone">
                <img src="/static/img/phone.png" />
            </div>
        </div>
    </div>
</div>

<aside class="sidebar-fixed">
    <ul>
        <li class="sidebar-consulting-wrapper">
            <a><img src="/static/img/sidebar_consulting.png">客服</a>
            <div class="sidebar-consulting">
                <p>客服热线：</p>
                <p>400-800-88888</p>
                <p>服务时间：</p>
                <p>周一至周五 09:00-18:00</p>
            </div>
        </li>
    </ul>
    <img src="/static/img/goTop.png" alt="回到顶部" class="go-top js-goTop">
</aside>